<div spellcheck="true">
  <h2 align="center">Add New Recipe</h2>


  <div>
    Name:
    <input type="text" style="width: 300px" placeholder="Title" ng-model="name" />
  </div>

  <br/>

  <div>
    <button class="btn btn-primary" ng-click="ingredients.push({name:'', qty:''})">Add Ingredient</button>

    <div ng-repeat="ingredient in ingredients">
      <input type="text" placeholder="Name" ng-model="ingredient-name" />
      <input type="text" placeholder="Quantity" ng-model="ingredient-qty" />
      <span class="glyphicon glyphicon-remove" ng-click="nc.removeIng($index)" aria-hidden="true"></span>
    </div>

  </div>

  <br/>

  <div>
    <button class="btn btn-primary" ng-click="nc.instructions.push({name:'', step:''})">Add Instructions</button>

    <div ng-repeat="(rowIndex, instruction) in instructions">
      Step {{rowIndex + 1}}:
      <input style="width: 300px" type="text" placeholder="Instruction" ng-model="instruction-name" />
      <span class="glyphicon glyphicon-remove" ng-click="removeIns($index)" aria-hidden="true"></span>
    </div>

  </div>
  <br/>

  <div>
    Time to Prep:
    <input type="number" placeholder="minutes" ng-model="prepTime" />
  </div>
  <br/>

  <div>
    Time to Cook:
    <input type="number" placeholder="minutes" ng-model="cookTime" />
  </div>
  <br/>

  <div>
    Course:
    <select name="category" id="choice" ng-model="category">
      <option value="Appetizer">Appetizer</option>
      <option value="Entree">Entree</option>
      <option value="Dessert">Dessert</option>
    </select>

  </div>
  <br/>
  <div class="radio">
    <label>
      <input type="radio" name="optradio" value="false" ng-model="privacy">Public</label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optradio" value="true" ng-model="privacy">Private</label>
  </div>
  <br/>

  <div>Added by:
    <span ng-bind="userName" ng-show="editHide"></span>
    <input type="text" ng-model="userName" ng-hide="editHide" />
    <span class="glyphicon glyphicon-pencil" ng-click="editName()" aria-hidden="true"></span>

  </div>


  <h5 ng-inIt>Upload an Image</h5>
  <button ngf-select class="btn btn-primary" type="file" ngf-change="addPost($file)" ng-model="file" ngf-resize="{width: 300, height: 300, centerCrop: true}" ngf-accept="'image/*'" ng-model-rejected="rejFiles" ngf-change="imageChange(files, rejFiles)">

    Select File
  </button>

  <img ngf-src="imageShow" /> {{wrongFile}}

  <br/>
  <br/>
  <button type="button" class="btn btn-primary" ng-click="createRecipe()" data-toggle="modal" data-target="#successModal">Submit
  </button>


  <div class="modal fade" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Success</h4>
        </div>
        <div class="modal-body">
          <p>Recipe successfully submitted!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
