<h3>New Recipe!</h3>

<div id="buttonFence">
  <button ng-click="postRecipe()" class="btn btn-success">SAVE</button>
  <button ng-click="cancelEdit()" class="btn btn-danger">Cancel</button>
</div>


<div class="form-group">
  <label for="newName">Recipe Name</label>
  <input id="newName" class="form-control" ng-model="newRecipe.RecipeName">
</div>
{{Recipe}}
<div ng-repeat="tag in foodTags" class="btn-group">
  <button class="btn bottomSpace" ng-click="toggleSelection(tag)" ng-class="tag.Selected ? 'btn-primary' : 'btn-default'">{{tag.TagName}}</button> &nbsp;
</div>


<div class="form-group">
  <label for="newDescription">Description</label>
  <textarea id="newDescription" class="form-control" ng-model="newRecipe.Description"></textarea>
</div>

<div class="form-group">
  <label for="newServing">Serving Size</label>
  <input type="text" id="newServing" class="form-control" ng-model="newRecipe.ServingSize" />
</div>

<div class="form-group ">
  <div class="row">
    <div class="col-lg-2 col-xs-12">
      <button class="btn btn-success" ng-click="addNewInstruction()"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
    <div class="col-lg-10 col-xs-12">
      <label for="newInstructions">Instructions</label>
      <textarea ng-repeat="i in instructions" ng-model="i.instructions" id="newInstructions" class="form-control topSpace">
      </textarea>
    </div>
  </div>
</div>


<button class="btn btn-primary" ng-click="addNewGroup()">Add New Ingredient Group</button>
<div class="panel panel-warning" ng-repeat="group in ingredients">
  <div class="panel-heading">
    <h3 class="panel-title"> {{group.Title}}</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label>Ingredient Group</label>
      <input type="text" class="form-control" ng-model="group.Title" />
    </div>
    <button id="addNewIngredient" ng-click="addNewIngredient(group)" class="btn btn-success" type="button">Add New Ingredient</button>
    <strong><span id="editMessaging"></span></strong>
    <div class="row">
      <div ng-repeat="ingredient in group.Ingredients" class="col-md-4">
        <div class="input-group  input-group-sm topSpace">
          <span class="input-group-btn">
                      <button class="btn btn-danger" type="button" ng-click="deleteIngredient($index, $parent.$index)">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>
                  </span>
          <input type="text" class="form-control input-sm" ng-model="ingredient.Ingredient">
        </div>
      </div>
    </div>
  </div>
</div>
