<div class="alert alert-info row" ng-init="getRating(recipe.$id)">
  <div class="row">
    <h2 ng-bind="recipe-name" class="recipeTitle"></h2>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <div class="col-sm-6 times">
        Prep Time: <span ng-bind="recipe-prepTime | times"></span>
        <br> Cook Time: <span ng-bind="recipe-cookTime | times"></span>
      </div>
      <div class="col-sm-6">
        <span class="col-sm-1 col-sm-offset-3" ng-bind="rating"></span>
        <div class="rating col-sm-6">
          <span ng-click="star(recipe.$id, 5)" id="5star">☆</span>
          <span ng-click="star(recipe.$id, 4)" id="4star">☆</span>
          <span ng-click="star(recipe.$id, 3)" id="3star">☆</span>
          <span ng-click="star(recipe.$id, 2)" id="2star">☆</span>
          <span ng-click="star(recipe.$id, 1)" id="1star">☆</span>

        </div>

      </div>
      <div class="col-sm-12">
        <hr>
        <h3>Ingredients</h3>
        <ul class="recIns">
          <li ng-repeat="ingredient in recipe-ingredients" class="recIns">
            <span ng-bind="ingredient"></span> -
            <span ng-bind="ingredient-qty"></span>
          </li>
        </ul>
      </div>

    </div>


    <div class="col-sm-6 img-container">
      <img class="recipeImage" ng-src={{recipe-image}} alt="Image of dish">
    </div>

    <div class="col-sm-12">
      <hr>
      <h3>Instructions</h3>
      <ol class="recIns">
        <li ng-repeat="instruction in recipe-instructions" class="recIns">
          <span ng-bind="instruction"></span>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <a href="#!/editRecipe">
      <button ng-show="loggedin" class="btn btn-primary" ng-click="editRecipe()">Edit this Recipe</button>
    </a>
    <button ng-show="loggedin" class="btn btn-primary add-button" ng-click="addtoCookBook(recipe.$id)">Add to Cookbook
    </button>
  </div>

</div>
